# **TASK-2**

In [ ]:
import pandas as pd
import numpy as np
from scipy.stats import zscore
from scipy.stats import norm

In [ ]:
train_data = pd.read_csv('/content/train.csv')
test_data = pd.read_csv('/content/test.csv')

In [ ]:
combined_data = pd.concat([train_data, test_data], ignore_index=True)

MEAN

In [ ]:
mean_values = combined_data.mean()

<ipython-input-4-6967f55c7f69>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  mean_values = combined_data.mean()

In [ ]:
print(mean_values)

PassengerId    655.000000
Survived         0.383838
Pclass           2.294882
Age             29.881138
SibSp            0.498854
Parch            0.385027
Fare            33.295479
dtype: float64

MEDIAN

In [ ]:
median_values = combined_data.median()

<ipython-input-5-a640099dc929>:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  median_values = combined_data.median()

In [ ]:
print(median_values)

PassengerId    655.0000
Survived         0.0000
Pclass           3.0000
Age             28.0000
SibSp            0.0000
Parch            0.0000
Fare            14.4542
dtype: float64

MODE

In [ ]:
mode_values = combined_data.mode().iloc[0]

In [ ]:
print(mode_values)

PassengerId                       1
Survived                        0.0
Pclass                          3.0
Name           Connolly, Miss. Kate
Sex                            male
Age                            24.0
SibSp                           0.0
Parch                           0.0
Ticket                     CA. 2343
Fare                           8.05
Cabin                   C23 C25 C27
Embarked                          S
Name: 0, dtype: object

STANDATD DEVIATION

In [ ]:
std_dev_values = combined_data.std()

<ipython-input-10-5f89ab3feea5>:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  std_dev_values = combined_data.std()

In [ ]:
print(std_dev_values)

PassengerId    378.020061
Survived         0.486592
Pclass           0.837836
Age             14.413493
SibSp            1.041658
Parch            0.865560
Fare            51.758668
dtype: float64